{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "strict": [2, "never"],
    "brace-style": [2, "stroustrup", { "allowSingleLine": true }],
    "comma-style": [1, "last"],
    "no-mixed-requires": 1,
    "no-var": 1,
    "new-cap": [2, { "capIsNew": false }]
    "quotes": [1, "single"],
    "space-after-keywords": [1, "always"],
    "space-before-blocks": [1, "always"],
    "space-in-brackets": [1, "never"],
    "space-in-parens": [1, "never"],
    "spaced-line-comment": [1, "always"],
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/react-in-jsx-scope": 2
  },
  "globals": {
  }
}
